<!DOCTYPE html>
<html>
<head>
    <title>PROTIUM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
</head>
<body>
    <div class="header">
        <h1>PROTIUM</h1>
      </div>
    
      <div class="row">
        <div class="column">
          <div class="card">
            <i class="fas fa-lightbulb fa-8x" id='led1' onclick="toggle_state('led1')"></i>
            <h2> LED 1</h2>
          </div>
          
        </div>
        
        <div class="column">
          <div class="card">
            <i class="fas fa-lightbulb fa-8x" id="led2" onclick="toggle_state('led2')"></i>
            <h2>LED 2</h2>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <i class="fa fa-thermometer-empty fa-8x" aria-hidden="true" id="fan" onclick="toggle_state('fan')"></i>
            <h2>FAN</h2>
          </div>
        </div>
    
        <div class="column">
          <div class="card">
            <i class="fa fa-plug fa-8x" aria-hidden="true" id="plug" onclick="toggle_state('plug')"></i>
            <h2>CHARGER</h2>
          </div>
        </div>
      </div>
    
</body>
</html>